body {
  background: lightgoldenrodyellow;
  box-sizing: border-box;
  color: #222;
  font-family:sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  text-align: center;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 900px;
}

form {
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 25px;
  max-width: 340px;
  padding: 15px;
  width: 100%;
}

input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

input[type=submit] {
  background-color: black;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: darkcyan;
}

code {
  background-color: ghostwhite;
  font-family: monospace;
  font-size: 1.2em;
  padding: 2px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}